[submodule "bundle/start/ctrlp.vim"]
	path = bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/start/nerdtree"]
	path = bundle/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/bundle/start/syntastic"]
	path = pack/bundle/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/bundle/start/vim-airline"]
	path = pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/bundle/start/vim-gitgutter"]
	path = pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
